@charset "UTF-8";

/*TABLETS*/

@media screen and (min-width: 769px) and (max-width: 1024px){
    fieldset {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    input {
        max-width: 350px;
    }

    input[type=password], input[type=date] {
        max-width: 200px;
    }
}



@media screen and (min-width: 1025px) {
    input {
        max-width: 400px;
    }

    input[type=password], input[type=date] {
        max-width: 200px;
    }
}