@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Montserrat", Arial, Verdana, Helvetica, sans-serif;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

:root {
    /*GRADIENTE*/
    --cor-01: #4a6093;
    --cor-02: #4B4A94;
    --cor-03: #4A7794;

    /*LOGIN*/
    --cor-I: #1b1a2e;
    --cor-II: #454461;
    --cor-III: rgba(0, 0, 255, 0.700);

    /*CORPO*/
    --cor-corpo: rgba(240, 248, 255, 0.400);
}

body {
    background-color: rgba(240, 248, 255, 0.400);
    /*background-image: linear-gradient(180deg, #4a6093, #4B4A94,#4A7794);*/
}

header > h1 {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    padding: 20px;
}

section {
    width: 100%;
    max-width: 700px;
    font-size: 1.2em;
    border: 0.5 groove rgba(0, 0, 0, 0.100);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
}

#formulario {
   padding: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    border-radius: 4px;
}

fieldset > legend {
    margin-bottom: 15px;
}

#buttons > input {
    width: 100%;
    max-width: 700px;
}

input {
    width: 100%;
    max-width: 200px;
    margin: 0px 0px 15px 0px;
    padding: 10px;
    transition: all 0.2s;
}

input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 255, 0.700);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
}

input[type=password] {
    max-width: 100px;
}

input[type=date] {
    text-align: center;
}

input[type=radio] {
    margin-top: 20px;
}

input[type=button], input[type=reset] {
    margin: 5px 0px 2px 0px;
    font-size: 1em;
    cursor: pointer;
    padding: 8px;
}

input[type=button]:hover, input[type=reset]:hover {
    background-color: #81a7ff;
    transform: scale(95%);
}

input[type=button]:hover {
    transform-origin: right;
}

input[type=reset]:hover {
    transform-origin: left;
}

.default {
    font-size: 12px;
    padding: 0px;
    margin: -30px 0px 7.5px 0px;
}
